

.jumbo.subhead
  .container
    .span8
      %h2 Inventory
      %p.lead
        Moving companies compute their bids based on how much stuff you have and how far it needs to travel.  Tell us about what needs to get moved.
    .well.span3






#inventory_editor.span12
  .span2
    #room_list
      %ul.nav.nav-list
        - @room_names.each do |room_name|
          %li= link_to room_name, filter_item_templates_move_inventory_path(@move,room_name), remote: true, data: {room_name: room_name}, class: 'item_room_toggle'

  .span3
    #item_group_list




  .span6
    #inventory_item_list
      - @items_by_room.each do |room, items|
        = render partial: 'inventories/room', locals: {room: room, items: items }
    .row
      %p.lead 
        Volume: 
        %span.badge.badge-info.volume_count= @volume_count
        %span.spacer 
        Items: 
        %span.badge.badge-info.item_count= @item_count
        %span.spacer
        = link_to confirm_move_path(@move), class: 'btn btn-primary' do
          Next
          %i{class: "icon icon-chevron-right"}