

.jumbo.subhead
  .container
    .span8.border-right
      %h2 Inventory
      %p.lead
        Moving companies compute their bids based on how much stuff you have and how far it needs to travel.  Tell us about what needs to get moved.
    .span3.centered
      .well
        %h2.border-bottom All done?
        %p
          = link_to confirm_move_path(@move), class: 'btn btn-primary btn-large' do
            Next
            %i{class: "icon icon-chevron-right"}






#inventory_editor.span12
  .span2
    #room_list
      %ul.nav.nav-list
        - @room_names.each do |room_name|
          %li= link_to room_name, filter_item_templates_move_inventory_path(@move,room_name), remote: true, data: {room_name: room_name}, class: 'item_room_toggle'

  .span3
    #item_group_list

      





  .span6
    #inventory_item_list
      %table.table
        %thead.border-bottom
          %tr
            %th Room
            %th Item
            %th Quantity
            %th Volume
        %tbody
          - @items_by_room.each do |room, items|
            = render partial: 'inventories/room', locals: {room: room, items: items }

    
        %tfoot#item_totals.border-top.alert.alert-info
          %tr
            %th Total:
            %th
            %th
              %span.badge.item_count= @inventory.total_item_quantity
            %th
              %span.badge.volume_count
                = "#{@inventory.total_item_volume} ft"
                %sup 3