.jumbo.subhead
  .container
    .span8.border-right
      %h2 Move summary
      %p.lead
        Confirm your details here, then enter your email address in the field provided.  We'll let you know as soon as a company has placed a bid for you to review, usually within 24 hours.
    .span3.centered
      .well
        %h3.border-bottom
          Confirm Details
        %p
          = form_for :customer_email, class: 'form-search' do |f|
            = f.text_field :email, class: 'input-medium search-query', placeholder: 'bob@example.com'
            %button.btn
              %i.icon.icon-envelope



.span6
  %h4

    Distance:
    = "#{@move.distance} miles"

  .row-fluid
    .span6.thumbnail  
      From:
      = @move.from_address.full_street_address
      = image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=16&markers=#{@move.from_address.latitude}%2C#{@move.from_address.longitude}"
    .span6.thumbnail  
      To:
      = @move.to_address.full_street_address
      = image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=16&markers=#{@move.to_address.latitude}%2C#{@move.to_address.longitude}"
  

.inventory.span6
  %h4 
    Inventory:
    = "#{@inventory.total_item_quantity} items " 
    with a volume of 
    = "#{@inventory.total_item_volume} ft"
    %sup 3
    %span.pull-right
      = link_to "Edit", edit_move_inventory_path(@move), class: 'btn'
  #inventory_item_list
    %table.table
      %thead.border-bottom
        %tr
          %th Room
          %th Item
          %th Quantity
          %th Volume
      %tbody
        - @items_by_room.each do |room, items|
          = render partial: 'inventories/room', locals: {room: room, items: items }

  
      %tfoot#item_totals.border-top.alert.alert-info
        %tr
          %th Total:
          %th
          %th
            %span.badge.item_count= @inventory.total_item_quantity
          %th
            %span.badge.volume_count
              = "#{@inventory.total_item_volume} ft"
              %sup 3

- if @move.incomplete?
  = content_for :sidebar do
    %h3 Your Move
    %ul.nav.nav-list
      %li.nav-header
      %li{"data-target" => "address"}= link_to "Step 1 - Address", ""
      %li{"data-target" => "inventory"}= link_to "Step 2 - Inventory", edit_move_inventory_path(@move.inventory)
      %li{"data-target" => "address"}= link_to "Step 3 - ", "/path3"
