- item ||= @item
%tr[item]{data: {item_name: item.name, room_name: item.room }}
  %td= item.room
  %td= "#{item.quantity.eql?(1) ? item.name : item.name.pluralize}"
  %td
    .quantity= item.quantity
  %td
    .volume
      = "#{item.total_volume} ft"
      %sup 3

      